---
import { site } from '../content/site';
---

<section class="closing-section" id="begin" aria-labelledby="closing-heading">
	<div class="closing-inner">
		<span class="label">Course Access</span>

		<h2 id="closing-heading">
			Get <em>early access</em> to the course.
		</h2>
		<p>
			We're actively building and testing the course, and adding new people on a
			rolling basis. Leave your email and we'll keep you included as we expand
			access.
		</p>

		<form
			class="closing-waitlist seva-form formkit-form"
			action={site.waitlist.action}
			method="post"
			data-sv-form={site.waitlist.formId}
			data-uid={site.waitlist.uid}
			data-format="inline"
			data-version="5"
			data-options={site.waitlist.options}
		>
			<input type="hidden" name="fields[signup_source]" value={site.waitlist.source} />
			<input type="hidden" name="fields[signup_box]" value="closing" />
			<input type="hidden" name="fields[referrer]" data-kit-attribution="referrer" />
			<input type="hidden" name="fields[utm_source]" data-kit-attribution="utm_source" />
			<input type="hidden" name="fields[utm_medium]" data-kit-attribution="utm_medium" />
			<input type="hidden" name="fields[utm_campaign]" data-kit-attribution="utm_campaign" />
			<input type="hidden" name="fields[utm_term]" data-kit-attribution="utm_term" />
			<input type="hidden" name="fields[utm_content]" data-kit-attribution="utm_content" />
			<label class="sr-only" for="closing-email">Email address</label>
			<div class="closing-waitlist-field" data-element="fields">
				<input
					id="closing-email"
					class="closing-waitlist-input"
					name="email_address"
					type="email"
					autocomplete="email"
					inputmode="email"
					placeholder="you@example.com"
					required
				/>
				<button class="closing-waitlist-button" type="submit" data-element="submit">
					Join the waitlist
				</button>
			</div>
		</form>
	</div>
</section>
